<!-- start out team -->
<main>
  <div class="container">
    <h2>our team</h2>
    <div class="team">
      <div class="ghadeer bord">
        <div class="photo">
          <img src="assets/gha.jpg"  alt ="ghadeer">
        </div>
        <p class="head">Ghadeer  Abdel-Nabi</p>
        <p class="para">Full Stack Web Developer</p>

      </div>
      <div class="moath bord">
        <div class="photo">
          <img src="assets/moa.jpg" alt ="moath">
        </div>
        <p class="head">Moath Alnajjar</p>
        <p class="para">Frontend Web Developer</p>

      </div>
      <div class="mahmoud bord">
        <div class="photo">
          <img src="assets/mah.jpg" alt ="mahmoud">
        </div>
        <p class="head">Mahmoud Aldahdouh</p>
        <p class="para">Backend Web Developer</p>

      </div>
    </div>
  </div>
</main>

<!-- end out team -->
