 <!-- start slider -->

    <section class="sec-slide">
      <div class="container">

        <p>share your used books and help others <br>

          grow for free</p>
      </div>
    </section>

    <!-- end slider -->

   