<div class="signup">
<!-- start form -->
		<section>
			<div class="container">
				<div class="head">
					<p>sign up</p>
				</div>
				<div class="form">
					<form action="/signup" method="POST">
						<label>username<br>
						<input type="text" name="name" required>
						</label>
						<br><br>
						<label>email<br>
						<input type="text" name="email" required></label>
						<br><br>
						<label>password<br>
						<input type="password" name="password" required>
						</label>
						<br><br>
						<label>confirm password<br>
						<input type="password" name="password2" required>
						</label>
						<br><br>
										<p class = "red-msg">{{errorMessage}}</p>

						<div class="btn-center">
							<button type="submit">sign up</button>
						</div>
           				 <br><br>
					</form>
				</div>
			</div>
		</section>

		<!-- end form -->
<div>
