<!-- start header and logo -->
		<header>
			<div class="container">
				<div class="sign-up">
					<div class="logo">
						<a href="/home"><h1>student help</h1></a>
					</div>
					<div class="log-sign">
						{{#if user}}
						<a href="/logout"><p style="text-transfroem:none;color:red">logout</p></a>
						<a href="/profile"><p style="text-transform:none">{{name}}</p></a>
						{{else}}
						<a href="/login"><p>login</p></a>
						<a href="/signup" ><p>signup</p></a>
						{{/if}}
					</div>
				</div>
			</div>
		</header>
		<!-- end header and logo -->

		<!-- start navbar  -->
		<nav>
			<div class="container">
				<ul>
					<li><a href="/home" >Home</a></li>
					<li><a href="/books">Books</a></li>
					<li><a href="/search">Search</a></li>
					<li><a href="/about">About</a></li>

				</ul>
			</div>
		</nav>
		<!-- end navbar -->
